body{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    max-width: 600px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    line: height 1.5cm;
    color: rgb(98, 176, 188);
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* article{ 
    margin: 50px 0 ;
} */

article + article{
    margin-top: 3rem;
    border-top: 3px solid #000;
}
